:host {
  .datagrid_ID {
    width: 35px;
  }

  .datagrid_Title {
    width: 180px;
  }

  .datagrid_PageInfo {
    width: 150px;
  }

  .datagrid_StartEndInfo {
    width: 420px;
  }

  .datagrid_Reference {
    width: 200px;
  }
}
