<div>
  <div class="summaryView">
    <table class="groupActorView" [cellSpacing]="0" [cellPadding]="0">
      @for( prop of groupActorProperties; track prop.Order) {
      <tr>
        <td class="header">{{ prop.Title }}</td>
        <td class="separator">:</td>
        <td [innerHTML]="prop.Value"></td>
      </tr>
      }
    </table>
  </div>
  <div class="inventoryView">
    <app-expander [shift]="false">
      <span [innerHTML]="groupActorInventory.Header" ex_header></span>
      <span [innerHTML]="groupActorInventory.List" ex_content></span>
    </app-expander>
  </div>
</div>
