<div class="wrap-collabsible">
  <!-- see ts comments -->
  <input
    id="collapsible"
    class="toggle"
    type="checkbox"
    title="expander"
    (change)="changed($event)"
    [(checked)]="checked"
  />
  <label for="collapsible" class="lbl-toggle" tabindex="0"></label>
  <div class="header"><ng-content select="[ex_header]"></ng-content></div>
  <div class="collapsible-content" [ngStyle]="{ 'margin-left': leftMargin }">
    <div class="content-inner">
      <ng-content select="[ex_content]"></ng-content>
    </div>
  </div>
</div>
